*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* All content in the body will have this color and be centered */
body{
    justify-content: center;
    background-color: rgb(243, 239, 239);
}


/* Header contains a navigation list and the header */
header {   
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    background-color: 
    
}

header h1{
    font-size: 4vw;
    flex-wrap: wrap;
    list-style: none;
    color: #024e76;
} 

header nav ul{

    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
    align-items: center;
    list-style: none;

}

header nav ul li a {

    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #024e76;
    margin: 1.5vw;
    text-decoration: none;
    
}

/*  Navigation have their own box colors for personal flavor*/
.me-nav a {
    background-color: rgb(255, 105, 97);
    border: solid 3px #024e76;
    box-shadow: 0 0 1px rgba( 0, 0, 0, 0.05);
    border-radius: 15px;
}

.git-nav a {
    background-color: rgb(119, 221, 119);
    border: solid 3px #024e76;
    box-shadow: 0 0 1px rgba( 0, 0, 0, 0.05);
    border-radius: 15px;
}

.done-nav a {
    background-color: rgb(167, 199, 231);
    border: solid 3px #024e76;
    box-shadow: 0 0 1px rgba( 0, 0, 0, 0.05);
    border-radius: 15px;
}
    

.build-nav a {
    background-color: rgb(253,253, 150);
    border: solid 3px #024e76;
    box-shadow: 0 0 1px rgba( 0, 0, 0, 0.05);
    border-radius: 15px;
}

/* Nav colors are done */

/* all sections applied */
section {
    padding: 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgb(243, 239, 239);
    
}

section h2{
    font-size: 2vw;
}


img{
    max-width: auto;
    max-height: 20vw;
    border-radius: 15px;
    object-fit: cover;
}


h3{
    margin-right: 20vw;
    font-size: 2vw;
}

/* all containers are connected to this link */
.link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    border: solid 3px #024e76;
    width: 100%;
    height: 30vw;
    vertical-align: bottom;
    background-color: #024e76;
    color: rgb(243, 239, 239);
}

.me {
    display: flex;
    flex-direction: column;
}

.git, #done {
    display: flex;
    flex-direction: column;
}

.link ul{
    display: flex;
    flex-direction: row;
    
}
.link ul li{
    list-style: none;
    align-content: flex-end;
}

.suv{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding: 3vw;

}

/* centers different images and text */
.projects .link img{
    max-width: auto;
    max-height: 10vw;
    border-radius: 2vw;
    object-fit: cover;
    align-items: baseline;
}


.projects .link p{
font-size: 1.5vw;
}

.overall h2{
    font-size: 3vw;
}


.projects .link img { 
	transition: all .2s ease-in-out; 
}
.projects .link img:hover { 
    transform: scale(1.5); 
}

@media screen and (max-width: 575px) {
  
    .p {
        width: 100%;
    }

  
}
